<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
<div sec:authorize="isAuthenticated()">
   1. This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ADMIN')">
   2. This content is only shown to administrators.('ADMIN')
</div>
<div sec:authorize="hasRole('USER')">
   3. This content is only shown to users.('USER')
</div>


<div th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}">
   4. This content is only shown to users. ('ROLE_USER')
</div>

<div th:if="${#httpServletRequest.isUserInRole('XXX')}">
   5. This content no one should see ('XXX')
</div>

<div sec:authorize="hasAuthority('ADMIN')">
  6.  There is used hasAuthority('ADMIN')
</div>
<div style="font-style: italic">7. Last div, visibile for all</div>


</body>
</html>